[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/vifm/colors"]
	path = .config/vifm/colors
	url = https://github.com/vifm/vifm-colors
[submodule ".vim/pack/vimspector/opt/vimspector"]
	path = .vim/pack/vimspector/opt/vimspector
	url = https://github.com/puremourning/vimspector.git
