.vim/.sessions
.vim/plugged
.vim/undodir
.vim/.netrwhist
.tmux/plugins
!.tmux/plugins/tpm
.tmux/resurrect/
.emacs.d/elpa
.emacs.d/places
.emacs.d/bookmarks
.emacs.d/history
.emacs.d/org-clock-save.el
.emacs.d/smex-items
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
