.vim/.sessions
.vim/sessions
.vim/plugged
.vim/undodir
.vim/.netrwhist
.vim/spell
.vim/trans
.vim/swap
.tmux/plugins
!.tmux/plugins/tpm
.tmux/resurrect/

tags
.DS_Store

.config/vifm/vifm-help.txt
.config/vifm/vifminfo
